Happy/*
Launcher/*
4gb_patch.exe
tgame.bak
tglobal.bak
**/*.lnk
.vs

# Internals
Includes/Internals/.vs/*
Includes/Internals/TChart/Debug/*
Includes/Internals/TChart/Release/*
Includes/Internals/TChart/.vs/*
Includes/Internals/TachyonControl/Debug/*
Includes/Internals/TachyonControl/Release/*
Includes/Internals/TachyonControl/.vs/*
Includes/Internals/TCML/Debug/*
Includes/Internals/TCML/Release/*
Includes/Internals/TCML/.vs/*
Includes/Internals/TComp/Debug/*
Includes/Internals/TComp/Release/*
Includes/Internals/TComp/.vs/*
Includes/Internals/TEngine/Debug/*
Includes/Internals/TEngine/Release/*
Includes/Internals/TEngine/.vs/*
Includes/Internals/TProtocol/Release/*
Includes/Internals/TProtocol/.vs/*

# TClient
TClient/Debug/*
TClient/Release/*
TClient/ReleaseNEW_IF/*
TClient/.vs/*

# TServer
TServer/.vs/*
TServer/Services/
TServer/lib/TNetLib.lib
TServer/lib/TNetLibd.lib
TServer/TNetLib/Debug/*
TServer/TNetLib/Release/*

# TLogin
TServer/TLoginSvr/Debug/*
TServer/TLoginSvr/Release/*
TServer/TLoginSvr/TLoginSvr.h
TServer/TLoginSvr/TLoginSvr_i.c

# TMap
TServer/TMapSvr/Debug/*
TServer/TMapSvr/Release/*
TServer/TMapSvr/TMapSvr.h
TServer/TMapSvr/TMapSvr_i.c

# TWorld
TServer/TWorldSvr/Debug/*
TServer/TWorldSvr/Release/*
TServer/TWorldSvr/TWorldSvr.h
TServer/TWorldSvr/TWorldSvr_i.c

# TRelay
TServer/TRelaySvr/Debug/*
TServer/TRelaySvr/Release/*
TServer/TRelaySvr/TRelaySvr.h
TServer/TRelaySvr/TRelaySvr_i.c

# Tools
TClient/Tools