Happy/*
Launcher/*
4gb_patch.exe
tgame.bak
tglobal.bak
**/*.lnk
.vs

# AAAAAAAAAAAA SUPPRIMER
TServer/Lib/*
TServer/lib/*
TServer/Servers/*


# Internals
Includes/Internals/.vs/*
Includes/Internals/TChart/Debug/*
Includes/Internals/TChart/Release/*
Includes/Internals/TChart/.vs/*
Includes/Internals/TachyonControl/Debug/*
Includes/Internals/TachyonControl/Release/*
Includes/Internals/TachyonControl/.vs/*
Includes/Internals/TCML/Debug/*
Includes/Internals/TCML/Release/*
Includes/Internals/TCML/.vs/*
Includes/Internals/TComp/Debug/*
Includes/Internals/TComp/Release/*
Includes/Internals/TComp/.vs/*
Includes/Internals/TEngine/Debug/*
Includes/Internals/TEngine/Release/*
Includes/Internals/TEngine/.vs/*
Includes/Internals/TProtocol/Release/*
Includes/Internals/TProtocol/.vs/*

# TClient
TClient/Debug/*
TClient/Release/*
TClient/ReleaseNEW_IF/*
TClient/.vs/*
TClient/Exec/TClient.exp
TClient/Exec/TClient.lib
TClient/Exec/TClient.pdb
TClient/Exec/TClient.ilk
TClient/Exec/TClient.map
TClient/Exec/TClientd.ilk
TClient/Exec/TClientd.map

# TServer
TServer/.vs/*
TServer/Servers/Configurations/*
TServer/Lib/TNetLib.lib
TServer/Lib/TNetLibd.lib
TServer/TNetLib/Debug/*
TServer/TNetLib/Release/*

# TLogin
TServer/TLoginSvr/Debug/*
TServer/TLoginSvr/Release/*
TServer/TLoginSvr/TLoginSvr.h
TServer/TLoginSvr/TLoginSvr_i.c
TServer/TLoginSvr/TLoginSvr.aps

# TMap
TServer/TMapSvr/Debug/*
TServer/TMapSvr/Release/*
TServer/TMapSvr/TMapSvr.h
TServer/TMapSvr/TMapSvr_i.c
TServer/TMapSvr/TMapSvr.aps

# TWorld
TServer/TWorldSvr/Debug/*
TServer/TWorldSvr/Release/*
TServer/TWorldSvr/TWorldSvr.h
TServer/TWorldSvr/TWorldSvr_i.c
TServer/TWorldSvr/TWorldSvr.aps

# TRelay
TServer/TRelaySvr/Debug/*
TServer/TRelaySvr/Release/*
TServer/TRelaySvr/TRelaySvr.h
TServer/TRelaySvr/TRelaySvr_i.c
TServer/TRelaySvr/TRelaySvr.aps

# TPatch
TServer/TPatchSvr/Debug/*
TServer/TPatchSvr/Release/*
TServer/TPatchSvr/TPatchSvr.h
TServer/TPatchSvr/TPatchSvr_i.c
TServer/TPatchSvr/TPatchSvr.aps

# TControl
TServer/TControlSvr/Debug/*
TServer/TControlSvr/Release/*
TServer/TControlSvr/TControlSvr.h
TServer/TControlSvr/TControlSvr_i.c
TServer/TControlSvr/TControlSvr.aps

# TServerSystem
TServer/TServerSystem/Debug/*
TServer/TServerSystem/Release/*

# Tools
TClient/Tools